.tech {
    width: 50vw;

}

.developer {
 text-transform: capitalize;
}

.techHeader {
    width: 50vw;
    display: flex;
    gap: 5px;
}

.developerHeader {
    display: flex;
    gap: 5px;
}

.row {
    display: flex;
    padding-bottom: 12px;
    padding-top: 12px;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-left: 17px;
}

.rowHeader {
    margin-top: 35px;;
    padding-bottom: 7px;
    padding-top: 11px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    background-color: #e5e5e5;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
}

.loading {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.loader {
        /*свг и/или анимация*/
        width: 120px;
        height: 120px;
        border-radius: 50%;

        /* дуга с градиентом */
        background: conic-gradient(
                from 0deg,
                rgba(120, 80, 255, 0) 0deg,
                rgba(120, 80, 255, 0.15) 40deg,
                rgba(120, 80, 255, 0.35) 90deg,
                rgba(120, 80, 255, 0.65) 140deg,
                rgba(120, 80, 255, 1) 200deg,
                rgba(120, 80, 255, 0) 320deg,
                rgba(120, 80, 255, 0) 360deg
        );

        -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 0);
        mask: radial-gradient(farthest-side, transparent calc(100% - 10px), #000 0);

        animation: spin 1.25s linear infinite;
    }
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
}
