.button {
    padding: 5px 24px;
    border-radius: 3px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    text-transform: capitalize;
}

.disabled {

}

.secondary {
    color: #06c;
    background-color: #fff;
    border: 1px solid #06c;
}

.default {
 background-color: #06c;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.default:hover {
    background-color: #0080ff;
}

.red:hover {
    background-color: #ff1a47;
}

.secondary:hover {
    background-color: #e5f0fa;
}


.default:active {
    background-color: #0059b2;
}

.secondary:active {
    background-color: #c9e5ff;
}

.red:active {
    background-color: #b21232;
}

.button:disabled {
    background-color: #004d99;
    opacity: 0.5;
}
